<nav class="navbar navbar-static-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">{{title}}</a>
    <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="nav-item active">
            <a class="nav-link" routerLink="/greeting">Приветствие</a>
        </li>
        <!--<li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/summary">Найти специалиста</a>
        </li>-->
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="/vacancy">Найти вакансию</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>