<nav class="navbar navbar-static-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Get Lab</a>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"
        class="nav-item active">
      <a class="nav-link"
         routerLink="/greeting">Greeting</a>
    </li>
    <li routerLinkActive="active"
        class="nav-item">
      <a class="nav-link"
         routerLink="/textbook">Textbook</a>
    </li>
    <li routerLinkActive="active"
        class="nav-item">
      <a class="nav-link"
         routerLink="/questionnaire">Questionnaire</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
