<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"></h1>
        <p>Сервис для поиска актуальных вакансий и резюме</p>
        <!--<p><button class="btn btn-primary btn-lg" (click)="getCourse()" role="button">Get course!</button></p>-->
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Соискателю</h2>
            <p><a class="btn btn-secondary" routerLink="/vacancy" role="button">Начать поиск »</a></p>
            <p>В этом разделе можно найти вакансию в базах данных HH.ru. </p>
        </div>
        <!--<div class="col-md-4">
            <h2>Работодателю</h2>
            <p>В этом разделе вы можете подобрать интересующего вас специалиста по заданным критериям</p>
            <p><a class="btn btn-secondary" routerLink="/vacancy" role="button">Начать поиск »</a></p>
        </div>-->
    </div>

    <footer>
        <p>© GetLab 2016</p>
    </footer>
</div>